<div class="row">
  <div class="column">
    <fieldset>
      <legend id="legend">Edit Beer</legend>
        <%= render 'form' %>
      </fieldset>
      <%= link_to 'Back', beer_path(@beer) %>
  </div>
</div>
