<div class="row">
  <div class="column">
    <fieldset>
      <legend id="legend">New Beer</legend>
        <%= render 'form' %>
      </fieldset>
      <%= link_to 'Back', beers_path %>
  </div>
</div>
