/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import url(http://fonts.googleapis.com/css?family=Bree+Serif);

 *, h1 , h2, h3, h4, h5, h6 {
   font-family: 'Bree Serif', serif;
}

 body {
  background-image: url("background.jpg");
  background-size:   cover;
 }

.contain-to-grid .top-bar {
  margin: 0;
  max-width: none;
}

div.contain-to-grid.sticky,
nav.top-bar,
li.has-form,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li, .top-bar-section .has-form
{
  background-color: #FFCC01;
}

.button:hover, .top-bar-section ul li > a.button:hover {
  background-color: #0009B2;
}

#show-buttons {
  margin-top: 1.2em;
}

.white-text {
  color: #FFFFFF;
}
