fieldset legend#legend {
  background: none;
  color: #FFFFFF;
  font-size: 5em;
}

fieldset legend#passwordlegend {
  background: none;
  color: #FFFFFF;
  font-size: 2em;

}

.formerrors {
  color: #FFFFFF;
}

.formerrors h2 {
  color: #FFFFFF;
}

.formlabels {
  color: #FFFFFF;
  font-size: 1.1em;
}

.formlabels#description-label {
  font-size: 0.9em;
}

.formlabels#passwordconfirm-label {
  font-size: 0.9em;
}

.formlabels#rememberme-label {
  margin-top: 0.5em;
  font-size: 0.7em;
}

#forgotpassword {
  color: #FFFFFF;
}

fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea#beerdescription-field {
  min-height: 6em;
}
