fieldset legend#legend {
  background: none;
  color: #FFFFFF;
  font-size: 5em;

}

.formerrors {
  color: #FFFFFF;
}

.formlabels {
  color: #FFFFFF;
  font-size: 1.1em;
}

.formlabels#description-label {
  font-size: 0.9em;
}

fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea#beerdescription-field {
  min-height: 6em;
}
